<div class="jumbotron" id="jumbo">
    <h1>Spoiled Apples</h1>
    <p class="lead">Movie reviews by random people...</p>
    <p>
        <button id="allMovies" class="btn btn-primary btn-lg">All Movies</button>
        <button id="allPeople" class="btn btn-primary btn-lg">All Reviewers</button>
    </p>
</div>
<div class="container">
    <!----------MOVIE DETAILS-------------->
    <div id="movieDetails" class="hidden">
        <h2>All Movies</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Average</th>
                    <th>IMDB</th>
                    <th>Release Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="movies"></tbody>
        </table>
    </div>

    <!----------REVIEW/REVIEWER DETAILS------------->
    <div id="people" class="hidden">
        <h2>Reviewers</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Genre</th>
                    <th>Occupation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="reviews"></tbody>
        </table>
    </div>

</div>
