<div class="jumbotron" id="jumbo">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><button id="allmovies" class="btn btn-primary btn-lg">All Movies</button></p>
</div>
<div class="container">
        <!----------ALL MOVIES-------------->
    <h2 id="title"></h2>
    <table>
        <thead>
            <tr>
                <th id="mtitle"></th>
                <th id="mgenre"></th>
                <th id="mavg"></th>
                <th id="mIMDB"></th>
                <th id="mrdate"></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="movies"></tbody>
    </table>
    
        <!----------REVIEW DETAILS------------->
    <h2 id="rtitle"></h2>
    <table>
        <thead>
            <tr>
                <th id="rname"></th>
                <th id="rate"></th>
            </tr>
        </thead>
        <tbody id="reviews"></tbody>
    </table>
</div>
