
@{
    ViewBag.Title = "Movies";
}

<div class="container">

    <button id="allmovies">All Movies</button>
    <!----------ALL MOVIES-------------->
    <h2 id="title"></h2>
    <table>
        <thead>
            <tr>
                <th id="mtitle"></th>
                <th id="mgenre"></th>
                <th id="mavg"></th>
                <th id="mIMDB"></th>
                <th id="mrdate"></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="movies"></tbody>
    </table>

</div>